body{
    background-color: white;
}

.btn {
    cursor: pointer;
}

body{
    color:black
}

/* note : this is pure CSS area. Just see how they link to either JS and html. */
.clicked {
    color: #7f8c8d;
  }
  
  .form,
  .greetings {
    display: none;
  }
  
  .showing {
    display: block;
  }